@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Inter', sans-serif;
  --blue: rgb(2, 151, 212);
  --blue-hover: rgb(63, 174, 218);
  --containers: 260px
}
.standart__btn{
  border-radius: 50px;
  background: var(--blue);
  color: #fff;
  font-size: 20px;
  width: 335px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.standart__btn:hover{
  background: var(--blue-hover);

}

@media(max-width: 1669px){
  body{
    --containers: 60px
  }
  
}
